body {
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #f2f7f5;
}
body::-webkit-scrollbar {
    display: none;
}
header {
    margin: 15px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-family: 'Borel', cursive; 
    color: #00332c; 
    margin: 0; 
    padding-top:30px;
    font-size: 2.5em;
}
.header_button_container {
    display: flex;
    gap: 15px;
}
.header_button {
    background-color: #475d5b;
    border-radius: 50%;
    border: 4px solid #00332c;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_button_icon {
    filter: drop-shadow(2px 2px 0 #00332c)
        drop-shadow(-2px 2px 0 #00332c)
        drop-shadow(2px -2px 0 #00332c)
        drop-shadow(-2px -2px 0 #00332c);
}
#upper_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
    height: 150px;
    margin: 0 30px 0 30px;
}
.upper_button {
    width: 40px;
    height: 40px;
}
.quote {
    font-family: 'Itim', cursive;
    color: #475d5b;
    font-size: 1.5em;
    max-width: 500px;
}
content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
content h2 {
    font-family: 'Pacifico', cursive; 
    color: #00332c;
    font-size: 2.6em;
}
.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;

    width: 50%;
    min-width: 500px;
    height: 50px;
    background-color: #475d5b;
    border-radius: 25px;
    border: 4px solid #00332c;
}
.friend_left_side {
    display: flex;
    align-items: center;
    justify-content: left;
}
.friend_picture {
    width: 50px;
    height: 50px;
    background-color: #475d5b;
    border-radius: 50%;
    border: 4px solid #00332c;
    display: flex;
    justify-content: center;
    align-items: center;
}