html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #F2F7F5 url("../asset/svg/popcorn.svg");
	background-repeat: space;
	background-size: 50px 70px;

	color: #475d5b;
	font-family: 'Itim', cursive;
}

.navigation-bar {
	padding: 2em 2em;
}

.header {
	font-family: 'Borel', cursive;
	color: #00332c;
    margin: 0.25em 0;
}

.paragraph, .input-label {
    margin: 0.25em 0;
}

.paragraph {
	max-width: 500px;
}

.text-1 {
	font-size: 2.5em;
}

.text-2 {
	font-size: 1.5em;
}

.text-3 {
	font-size: 1.25em;
}

.notification {
	display: block;

	padding: 0.5em 1em;
	border-width: 4px;
	border-style: solid;
	border-radius: 20px;
}

.container {
	margin: 2em;
}

.prompt {
	margin: auto;
	max-width: 450px;
}

.input-label {
	cursor: default;
}

.input {
	box-sizing: border-box;
	font-size: 1.5em;
	margin: 0.5em 0;
	padding: 0.35em 1em;


	font-family: inherit;
	border: 4px solid #00332c;
	border-radius: 50px;

}

.text-field {
	background: white;
}


.button.primary-color:hover {
	background: #586c6a;
}


.button.secondary-color:hover {
	background: #ecbc69;
}

.primary-color, .button.primary-color:active {
	background: #475D5B;
}

.secondary-color, .button.secondary-color:active {
	background: #EBB65A;
}

.error-color {
	background: #e7a6a6;
	border-color: #691d1d;
}

.primary-color, .secondary-color, .error-color {
	color: white;
	text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.4);
}

.hidden {
	display: none;
}

.button {
	cursor: pointer;
}


.full-width {
	display: block;

	width: 100%;
}
